h1{
    color: blueviolet;
    background-color: bisque;
    text-align: center;
}

h2{
    color: rgb(204, 0, 255);
    background-color: bisque;
    text-transform: none;
}

p{
    color: crimson;
    background-color: bisque;
    line-height:30px;
}

.destacados{
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
}

#caja{
    
}

    